html, body {
    height: 100%;
}

.login-content, .info-content {
    background: #18BC9C;
    position: relative;
    height: 100%;
}

.login-box, .info-box {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px;
    background: #18BC9C;
}

.login-box-body {
    width: 500px;
    margin: 60px auto;
}

.info-box-body {
    text-align: center;
}

table.middle tr td {
    vertical-align: middle;
}

.user-info-item {

}

.user-info-title {
    font-size: 15px;
    font-weight: bold;
}

.user-info-value {

}

.sidebar-username {
    margin-top: 10px;
}

.navbar-custom ul.localizeDropDown li a {
    color: black;
}

#locale, #sort, #defined_created_date {
    width: 200px;
}

a.translation-edit {
    padding: 1px 10px;
    font-size: 10px;
    float: right;
}

.excerpt-editor {
    height: 150px !important;
}

.editor, .product_editor {
    height: 300px !important;
}

.post-body label {
    font-size: 17px;
}

.validataion-invalid {
    color: red;
}

.validataion-valid {
    color: green;
}

.blog-list .container {
    padding-top: 100px;
}

.blog-list .media {
    padding-bottom: 10px;
    margin: 50px 0;
    border-bottom: 1px solid #e8d8d8;
}

.attachment-header {
    margin-bottom: 15px;
    font-weight: bold;
}

.attachment-item {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.bootstrap-wysihtml5-insert-image-modal .modal-body {
    overflow-y: auto;
    height: 250px;
}

.profile-info-row {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.profile-info-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
}

.profile-info-text {
    font-size: 18px;
}

.address {
    border: 1px solid #18BC9C;
    padding: 5px 8px;
    border-radius: 3px;
    min-height: 185px;
}

.address .row {
    margin: 5px 0;
}

.address-type {
    float: right;
    min-width: 70px;
    border: 1px solid #ddd;
    margin: 0 5px;
    border-radius: 3px;
    text-align: center;
}


.wizard-progress {
    display: table;
    width: 100%;
    table-layout: fixed;
    position: relative;
}
.wizard-progress .step {
    display: table-cell;
    text-align: center;
    vertical-align: top;
    overflow: visible;
    position: relative;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}

.account-info{
    border-bottom: 1px solid gray;
}

.wizard-progress .step:not(:last-child):before {
    content: '';
    display: block;
    position: absolute;
    left: 49%;
    top: 32px;
    background-color: white;
    height: 6px;
    width: 100%;
}
.wizard-progress .step .node {
    display: inline-block;
    border: 6px solid white;
    background-color: white;
    border-radius: 18px;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 25px;
    left: 50%;
    margin-left: -18px;
}
.wizard-progress .step.complete:before {
    background-color: #296f61;
}
.wizard-progress .step.complete .node {
    border-color: #296f61;
    background-color: #296f61;
}
.wizard-progress .step.complete .node:before {
    font-family: FontAwesome;
    content: "\f00c";
    top: -6px;
    left: -3px;
    position: relative;
}
.wizard-progress .step.in-progress:before {
    background: #296f61;
    background: -moz-linear-gradient(left, #296f61 0%, #ffffff 100%);
    background: -webkit-linear-gradient(left, #296f61 0%, #ffffff 100%);
    background: linear-gradient(to right, #296f61 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(     startColorstr='#296f61 ', endColorstr='#ffffff',GradientType=1 );
}
.wizard-progress .step.in-progress .node {
    border-color: #296f61;
}

.right-img-x {
    max-width: 100px;
    float: right;
}

.license {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.line {
    border-bottom: 1px solid #ddd;
}

.profile-user-img {
    margin: 0 auto;
    padding: 3px;
    border: 3px solid #d2d6de;
    max-width: 100%;
    width: 100%;
}

.user-favorite, .user-favorite-remove {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 20px;
    color: #18BC9C;
    cursor: pointer;
    z-index: 9999;
}

.user-favorite-remove {
    color: red;
}

.static {
    position: static;
}

.inline {
    display: inline-block;
}

#updateOrderStatus {
    margin-top: -3px;
}

.product-img, .product-video {
    cursor: pointer;
}

.sub-categories-block {
    display: none;
}

.sub-categories-block .filter-category {
    border-radius: 0;
    border-bottom: 0;
}

.list-group .sub-categories-block:last-child .filter-category:last-child {
    border-bottom: 1px solid #ddd !important;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

#address-block {
    display: none;
    margin-top: 20px;
}

.m-0 {
    margin: 0;
}

.m-r-10 {
    margin-right: 10px;
}

.m-l-20 {
    margin-left: 20px;
}

.m-l-r-15 {
    margin: 15px;
}

.m-t-5 {
    margin-top: 5px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-b-5 {
    margin-bottom: 10px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.p-0 {
    padding: 0;
}

.p-r-0 {
    padding-right: 0;
}


.f-s-21{
    font-size: 21px;
}

.m-t-23{
    margin-top: 23px;
}

.p-t-b-10 {
    padding: 10px 0;
}

.p-l-30 {
    padding-left: 30px;
}

.bg-white{
    background-color: #f5f5f5 !important; 
}

.signature-class{
    background: white;
    border: 1px solid black;
}

.m-signature-pad--body{

}

.forgot-password{
    font-size: 15px;
    color: #337ab7 !important;
    text-decoration: none;
}

.media-type {
    margin-top: 30px;
    position: absolute;
    right: 1px;
}

.media-container {
    height: 300px;
    overflow-y: auto;
}

.product-info {
    position: relative;
}

.valid_license_lable {
    display: block !important;;
}

.product-sidebar {
    width: 200px;
    position: fixed;
    top: 100px;
    padding: 20px 2px 20px 5px;
    bottom: 0;
}

.product-content {
    margin-left: 200px;
    padding-left: 50px;
}

.product-content .container{
    padding-top: 100px;
}

.product-item {
    min-height: 250px;
    padding: 10px;
    text-align: center;
    text-decoration: none !important;
}

.reminder {
    padding: 20px 30px; 
    background: rgb(243, 156, 18); 
    z-index: 999999; 
    font-size: 16px; 
    font-weight: 600;
}

.cart-box {
    border: 2px solid #18bc9c;
    padding: 10px;
    border-radius: 5px;
}

.cart-count{
    position: absolute; 
    bottom: -8px; 
    right: -10px;
}

.cart-item {
    position: relative; 
    padding: 10px 0; 
    border-bottom: 1px solid #1b7e5a;
}